@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Neue Montreal";
  src: url("/blog/fonts/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/blog/fonts/NeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/blog/fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Neue Montreal", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #fff;
  color: #000;
}

* {
  border-radius: 0 !important;
}

.prose {
  --tw-prose-body: #fff;
  --tw-prose-headings: #fff;
  --tw-prose-links: #fff;
  --tw-prose-bold: #fff;
  --tw-prose-counters: #fff;
  --tw-prose-bullets: #fff;
  --tw-prose-hr: #fff;
  --tw-prose-quotes: #fff;
  --tw-prose-quote-borders: #fff;
  --tw-prose-code: #fff;
  --tw-prose-pre-code: #fff;
  --tw-prose-pre-bg: #000;
  --tw-prose-th-borders: #fff;
  --tw-prose-td-borders: #fff;
}

.prose a {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.prose a:hover {
  text-decoration-thickness: 2px;
}

.prose code:not(pre code) {
  background-color: #fff;
  color: #000;
  padding: 0.15em 0.4em;
  font-size: 0.875em;
}

.prose pre {
  border: 1px solid #fff;
}

.prose blockquote {
  border-left: 3px solid #fff;
}

.prose table th,
.prose table td {
  border: 1px solid #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}
